<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Recipes</title>

</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <h1>Browse Recipes</h1>
        <div class="section" style="margin-right: -280px">
            <div>Sort by:</div>
            <select>
                <option value="name">Name</option>
            </select>
            <div>Filter by Category:</div>
            <select>
                <option value="all">All Categories</option>
            </select>
            <div>Filter by Keyword:</div>
            <select>
                <option value="all">All Keywords</option>
            </select>
        </div>
        <div class="parts">
            <div class="card">
                <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/38/YUeirxMLQaeE1h3v3qnM_229%20berry%20blue%20frzn%20dess.jpg" alt="Low-Fat Berry Blue Frozen Dessert">
                <p><a href="recipe_detail.html">Low-Fat Berry Blue Frozen Dessert</a><br>By: Dancer<br>Date: 9th Aug 2009<br>Make and share this Low-Fat Berry Blue Frozen Dessert recipe from Food.com.</p>
            </div>
            <div class="card">
                <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/40/picJ4Sz3N.jpg" alt="Best Lemonade">
                <p><a href="recipe_detail.html">Best Lemonade</a><br>By: Stephen Little<br>Date: 5th Sep 2015<br>This is from one of my first Good House Keeping cookbooks.</p>
            </div>
            <div class="card">
                <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/41/picmbLig8.jpg" alt="Carina's Tofu-Vegetable Kebabs">
                <p><a href="recipe_detail.html">Carina's Tofu-Vegetable Kebabs</a><br>By: Cyclopz<br>Date: 3rd Sep 2013<br>This dish is best prepared a day in advance to allow the ingredients to soak in the marinade overnight.</p>
            </div>
            <div class="card">
                <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/42/picVEMxk8.jpg" alt="Cabbage Soup">
                <p><a href="recipe_detail.html">Cabbage Soup</a><br>By: Duckie067<br>Date: 19th Sep 2010<br>Make and share this Cabbage Soup recipe from Food.com.</p>
            </div>
        </div>
    </div>
<footer class = "footer">
    end of page
</footer>
</body>
</html>


